.headpici
{
    background-color:rgb(93, 58, 125);
} 
body
{
    color:rgb(93, 58, 125);
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(13, 27, 42);
}
.headpici button
{
    background-color:rgb(93, 58, 125);
    border: 0px;
    transition:all 0.5s ease-in-out;
} 
.headpici img
{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    transition:all 0.5s ease-in-out;
}
.headpici span
{
    color: rgb(13, 27, 42);
    font-size: 50px;
    margin-left: 100px;
    transition:all 0.5s ease-in-out;
}
.headpici .wolf
{
    width: 55px;
    height: 55px;
    margin-left: 268.2px;
    margin-top: 10px;
    transition:all 0.5s ease-in-out;
}
.headpici span:hover
{
    color: rgb(13, 27, 42);
    text-shadow: 5px 5px 5px;
}
.headpici button :hover
{

    transform: scale(1.1);

}
.menu
{
    background-color:rgb(93, 58, 125);
    color: rgb(13, 27, 42);
    width:150px;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 45PX;
    border: 0px;
    font-size: 25px;
    transition:all 0.7s ease-in-out;
}
.menu:hover
{
    text-shadow: 0px 7px 5px;
}
.menu1
{
    background-color:rgb(93, 58, 125);
    color: rgb(13, 27, 42);
    width:150px;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 45PX;
    border: 0px;
    font-size: 18px;
    transition:all 0.7s ease-in-out;
}
.menu1:hover
{
    text-shadow: 0px 7px 5px;
}
.main
{
    border-radius: 25px;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.main:hover
{
    transform: scale(1.1);
}
.littel
{
    border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.littel:hover
{
    transform: scale(1.1);
}
div
{
    display: inline-block;
    overflow: hidden;
}