
#big
{
    width: 1350px;
}
body
{
    margin: 0px;
    background-color: rgb(13, 27, 42);
    color: rgb(35, 25, 56);
}
.menu
{
    background-color:rgb(93, 58, 125);
    color: rgb(13, 27, 42);
    width:150px;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 45PX;
    border: 0px;
    font-size: 25px;
    transition:all 0.7s ease-in-out;
}
.menu:hover
{
    text-shadow: 0px 7px 5px;
}
.menu1
{
    background-color:rgb(93, 58, 125);
    color: rgb(13, 27, 42);
    width:150px;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 45PX;
    border: 0px;
    font-size: 18px;
    transition:all 0.7s ease-in-out;
}
.menu1:hover
{
    text-shadow: 0px 7px 5px;
}
#h
{
    color: rgb(93, 58, 125);
    font-family: Myriad Pro;
    font-size: 50px;
    margin-left: 510px;
    display: block;
    transition: all 0.5s ease-in-out;
}
#h:hover
{
text-shadow: 4px 7px 6px;
}
.gameitem
{
    display: inline-block;
    border-radius:25px;
    overflow:hidden;
    height: 360px;
    width: 300px;
    margin: 10px;
    background-color: rgb(93, 58, 125);
    transition:all 0.5s ease-in-out;
}
.gameitem:hover
{
    box-shadow: 0px 10px 10px;
    transform: scale(1.1);
}
.gameitem button
{
    border-radius:
     10px;border: 0px; 
     color:rgb(13, 27, 42);
     background-color: rgb(93, 58, 125); 
    font-size: 30px;
    transition:all 0.5s ease-in-out;
    margin-left: 35px;
    margin-top: 8px;
    
}
.gameitem button:hover
{
    
    color:rgb(13, 27, 42);
    text-shadow: 0px 5px 5px;

}
.gameitem span
{
    border-radius:10px;
    border: 0px; 
     color:rgb(13, 27, 42);
     background-color: rgb(93, 58, 125); 
    font-size: 30px;
    transition:all 1.0s ease-in-out;
    margin-left: 5px;
    margin-top: 8px;
    
}
.gameitem span:hover
{
    
    color:rgb(13, 27, 42);
    text-shadow: 0px 5px 5px;

}
.gameitempic img
{
    width: 300px;
    height: 300px;
    border-radius: 25px;
}
.headpici
{
    background-color:rgb(93, 58, 125);
} 
.headpici button
{
    background-color:rgb(93, 58, 125);
    border: 0px;
    transition:all 0.5s ease-in-out;
} 
.headpici img
{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    transition:all 0.5s ease-in-out;
}
.headpici span
{
    color: rgb(13, 27, 42);
    font-size: 50px;
    margin-left: 100px;
    transition:all 0.5s ease-in-out;
}
.headpici .wolf
{
    width: 55px;
    height: 55px;
    margin-left: 268.2px;
    margin-top: 10px;
    transition:all 0.5s ease-in-out;
}
.headpici span:hover
{
    color: rgb(13, 27, 42);
    text-shadow: 5px 5px 5px;
}
.headpici button :hover
{

    transform: scale(1.1);

}

