body
{
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(3, 132, 152);
}
pre
{
    font-family:Myriad Pro;
}
#mine
{
    width: 1350px;
}
#butpic
{
    width: 70px;
    height: 70px;
    margin-left: 1150px;
}
#matn
{
    font-size:60px;
    color:rgb(206, 161, 68);
    margin-left:500px;
}
#Email
{
    margin: 0%;
    border-radius: 15px;
    background-color:rgb(206, 161, 68);
    border-color: rgb(206, 161, 68);
    width: 350px;
    height: 40px;
    margin-left:450px;
    
}
#password
{
    margin: 0px;
    border-radius: 15px;
    background-color:rgb(206, 161, 68);
    border-color: rgb(206, 161, 68);
    width: 350px;
    height: 40px;
    margin-left:450px;
}
button
{
    margin: 0px;
    border-radius: 15px;
    background-color:rgb(206, 161, 68);
    border-color: rgb(206, 161, 68);
    width: 250px;
    height: 40px;
    margin-left:500px;
}
#buten
{
    font-family:Myriad Pro;
    color:rgb(3, 132, 152);
    font-size: 20px;
}

#matn2
{
    font-size:35px;
    color:rgb(206, 161, 68);
    margin-left:380px;
}
#matn3
{
    font-size:35px;
    color:rgb(206, 161, 68);
    margin-left:525px;
}
#matn4
{
    font-size:25px;
    color:rgb(206, 161, 68);
    margin-left:500px;
}
#matn6
{
    font-size:25px;
    color:rgb(206, 161, 68);
}
#logup
{
    color:rgb(206, 161, 68);
}
#matn5
{
    font-size:25px;
    color:rgb(206, 161, 68);
    margin-left:25px;
}