
#big
{
    width: 1350px;
}
body
{
    margin: 0px;
    background-color: rgb(3, 132, 152);
}
#h
{
    color: rgb(206, 161, 68);
    font-family: Myriad Pro;
    font-size: 50px;
    margin-left: 410px;
}
#tmp
{
    width: 300px;
    height: 300px;
    border-radius: 25px;

}